body {
  margin: 0;
}

.container {
  position: relative;
  height: auto;
  overflow-y: hidden;
}

.scroll-image {
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
}

.profile {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column; /* Change the flex direction to column */
}

.profile-photo {
  max-width: 70%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px; /* Add margin below the profile photo */
}

.profile-description {
  text-align: center; /* Align the description text to the center */
}

.profile-description h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
  font-family: Impact, sans-serif;
  font-weight: 400; /* Reduce the font weight for a lighter stroke */
}

.profile-description p {
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
  max-width: 400px;
}

/* Media query for smaller screens */
@media (max-width: 10000px) {
  .profile {
    flex-direction: row; /* Change the flex direction back to row */
    justify-content: center; /* Center the items horizontally */
    text-align: left; /* Align the text to the left */
  }

  .profile-photo {
    max-width: 100px; /* Adjust the profile photo width for smaller screens */
    margin-bottom: 0; /* Remove the margin below the profile photo */
    margin-right: 20px; /* Add margin between the profile photo and description */
  }
}
